.Contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  width: 90%;
  height: 85%;
  border: 1px solid black;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 3%;
  background-color: rgb(46, 79, 122);
  margin-top: 11.5mm;
}

.insta {
  width: 70px;
  height: 70px;
  border: 2px solid rgb(239, 223, 253);
  border-radius: 8px;
  background-size: cover;
}

.vk {
  width: 70px;
  height: 70px;
  border: 2px solid rgb(239, 223, 253);
  border-radius: 8px;
  background-size: cover;
  
}

.net {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30mm;
  margin-top:15mm;

}

.close  {
  border-radius: 7px;
  width: 13%;
  height: 5%;
  background: rgb(8, 145, 236) linear-gradient(rgb(3, 255, 242),
   rgb(23, 91, 248));
}  
