.Modal {
  width: 500px;
  height: 260px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -170px;
  background-color: rgb(152, 180, 212);
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center

}

.TextConfig, .TextError {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size:larger;
    color: white;
}

.TextError {
  margin: -30px;
  color: rgb(190, 41, 41)
}

.bodyAllModal {
  position: absolute;
  width: 100%;
  height:100%;
   background: rgba(0, 0, 0, 0.801);
}
.modalform{
  display: flex;
  flex-direction: column;
}
