body{
  background: linear-gradient(90deg, powderblue, pink)
}

.Header{
  background: rgba(18, 56, 98, 0.911);
  width: 100%;
  color: white;
  position: fixed;
}

.Footer{
  background: rgba(18, 56, 98, 0.911);
  color: white;
  position: fixed;;
}
.Main{
  padding: 70px
}
.mainWindow{
  padding-top: 70px !important
}

a{
  color: white !important
}
